<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> <!-- DB Dialect -->	
   		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/MAGAZA</property> <!-- BD Mane -->	
   		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->	
   		<property name="hibernate.connection.username">postgres</property> <!-- DB User -->	
   		<property name="hibernate.connection.password">ROOT</property> <!-- DB Password -->	


   		<property name="hibernate.hbm2ddl.auto">update</property> <!-- create / create-drop / update -->	
		<property name="hibernate.show_sql">true</property> <!-- Show SQL in console -->	
		<mapping class="com.udogan.magazayonetimi.models.Beden"/>	
		<mapping class="com.udogan.magazayonetimi.models.Distributor"/>	
		<mapping class="com.udogan.magazayonetimi.models.Kategori"/>	
		<mapping class="com.udogan.magazayonetimi.models.Kullanici"/>	
		<mapping class="com.udogan.magazayonetimi.models.Marka"/>	
		<mapping class="com.udogan.magazayonetimi.models.Musteri"/>	
		<mapping class="com.udogan.magazayonetimi.models.Urun"/>	
		<mapping class="com.udogan.magazayonetimi.models.UrunDistributor"/>	
		<mapping class="com.udogan.magazayonetimi.models.UrunKategori"/>	
		<mapping class="com.udogan.magazayonetimi.models.UrunMusteri"/>
		
	</session-factory>
</hibernate-configuration>